<!DOCTYPE html>
<html>
<head>
  <title>Test AngularJS 1</title>
  <link rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body ng-app="testApp1">
  <div ng-controller="testCtrl1" class="app-container">
    <form role="form" action="">
      <div class="form-group">
        <label class="control-label">Data 1:</label>
        <input type="text" class="form-control" ng-model="t1.d1" />
      </div>

      <div class="form-group">
        <label class="control-label">Data 1:</label>
        {{ t1.d1 }}
      </div>

      <div class="form-group">
        <label class="control-label">Data 2:</label>
        <input type="text" class="form-control" ng-model="t1.d2" />
      </div>

      <div class="form-group">
        <label class="control-label">Data 2:</label>
        {{ t1.d2 }}
      </div>

      <button class="btn-default btn" ng-click="t1.test()">Test d1</button>
    </form>
  </div>

  <script src="../../../bower_components/jquery/jquery.js"></script>
  <!--<script src="../../../bower_components/bootstrap/dist/js/bootstrap.js"></script>-->
  <script src="libs/angular.js"></script>

  <script src="scripts/app.js"></script>

</body>
</html>